Flappy Bird/xml-resources/web-service-references/FlappyBirdService/wsdl/localhost_8080/FlappyBirdWS/FlappyBirdService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="FlappyBirdService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/FlappyBirdWS/FlappyBirdService?xsd=1"/>
</xsd:schema>
</types>
<message name="getHighestScoreAUser">
<part name="parameters" element="tns:getHighestScoreAUser"/>
</message>
<message name="getHighestScoreAUserResponse">
<part name="parameters" element="tns:getHighestScoreAUserResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="saveScore">
<part name="parameters" element="tns:saveScore"/>
</message>
<message name="saveScoreResponse">
<part name="parameters" element="tns:saveScoreResponse"/>
</message>
<message name="getTopScoreUser">
<part name="parameters" element="tns:getTopScoreUser"/>
</message>
<message name="getTopScoreUserResponse">
<part name="parameters" element="tns:getTopScoreUserResponse"/>
</message>
<message name="getScoreHistory">
<part name="parameters" element="tns:getScoreHistory"/>
</message>
<message name="getScoreHistoryResponse">
<part name="parameters" element="tns:getScoreHistoryResponse"/>
</message>
<message name="saveRegister">
<part name="parameters" element="tns:saveRegister"/>
</message>
<message name="saveRegisterResponse">
<part name="parameters" element="tns:saveRegisterResponse"/>
</message>
<portType name="FlappyBirdService">
<operation name="getHighestScoreAUser">
<input wsam:Action="http://ws/FlappyBirdService/getHighestScoreAUserRequest" message="tns:getHighestScoreAUser"/>
<output wsam:Action="http://ws/FlappyBirdService/getHighestScoreAUserResponse" message="tns:getHighestScoreAUserResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://ws/FlappyBirdService/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://ws/FlappyBirdService/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="saveScore">
<input wsam:Action="http://ws/FlappyBirdService/saveScoreRequest" message="tns:saveScore"/>
<output wsam:Action="http://ws/FlappyBirdService/saveScoreResponse" message="tns:saveScoreResponse"/>
</operation>
<operation name="getTopScoreUser">
<input wsam:Action="http://ws/FlappyBirdService/getTopScoreUserRequest" message="tns:getTopScoreUser"/>
<output wsam:Action="http://ws/FlappyBirdService/getTopScoreUserResponse" message="tns:getTopScoreUserResponse"/>
</operation>
<operation name="getScoreHistory">
<input wsam:Action="http://ws/FlappyBirdService/getScoreHistoryRequest" message="tns:getScoreHistory"/>
<output wsam:Action="http://ws/FlappyBirdService/getScoreHistoryResponse" message="tns:getScoreHistoryResponse"/>
</operation>
<operation name="saveRegister">
<input wsam:Action="http://ws/FlappyBirdService/saveRegisterRequest" message="tns:saveRegister"/>
<output wsam:Action="http://ws/FlappyBirdService/saveRegisterResponse" message="tns:saveRegisterResponse"/>
</operation>
</portType>
<binding name="FlappyBirdServicePortBinding" type="tns:FlappyBirdService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHighestScoreAUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopScoreUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getScoreHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlappyBirdService">
<port name="FlappyBirdServicePort" binding="tns:FlappyBirdServicePortBinding">
<soap:address location="http://localhost:8080/FlappyBirdWS/FlappyBirdService"/>
</port>
</service>
</definitions>